@using Formatter.Options
@using Formatter.Options.utils
@using Web.Components.buttons

<section class="flex flex-row lg:flex-col w-full justify-center lg:justify-start lg:max-w-[320px] gap-2 lg:gap-6 relative">
    
    <div class="p-4 w-full flex flex-col gap-4 border border-white/10 rounded-lg bg-[#222222]">
        <h2 class="text-white">Conversion Format</h2>
        
        <Dropdown Options="_typeDeclarationOptions" Title="Typescript Output Component" 
                  OnValueChange="OnTypeDeclarationChange" T="string"/>
        
        <Dropdown Options="_namingConvention" Title="Naming Convention"
                  OnValueChange="OnNamingConventionChange" T="string" />
        
        <div class="flex flex-row flex-wrap lg:flex-nowrap w-full gap-2">
            <Dropdown Options="_tabSize" Title="Tab Size" T="int" OnValueChange="OnTabSizeChanged"/>
            <Dropdown Options="_identSize" Title="Ident Size" T="int" OnValueChange="OnIdentSizeChanged"/>
        </div>
    </div>

    <div class="p-4 w-full flex flex-col gap-4  border border-white/10 rounded-lg bg-[#222222]">
        <h2 class="text-white">Conversion Options</h2>
        
        <div class="flex gap-2 items-center">
            <Checkbox OnValueChange="OnGenerateConstructorChanged" InitialState="generateConstructor"/>
            <h2 class="text-white/60">Generate Constructor</h2>
        </div>

        <div class="flex gap-2 items-center">
            <Checkbox OnValueChange="OnDatesAsStringsChanged" InitialState="datesAsStrings"/>
            <h2 class="text-white/60">Dates as string</h2>
        </div>

        <div class="flex gap-2 items-center">
            <Checkbox OnValueChange="OnIncludeCommentsChanged" InitialState="includeComments"/>
            <h2 class="text-white/60">Include Comments</h2>
        </div>

        <div class="flex gap-2 items-center">
            <Checkbox OnValueChange="OnIncludeNullablesChanged" InitialState="includeNullables"/>
            <h2 class="text-white/60">Include Nullables</h2>
        </div>
        
    </div>
</section>


@code {
    
    // Local copies of the static options
    private bool generateConstructor = FormatOptions.GenerateConstructor;
    private bool addTypeAnnotations = FormatOptions.AddTypeAnnotations;
    private bool datesAsStrings = FormatOptions.DatesAsStrings;
    private bool includeComments = FormatOptions.IncludeComments;
    private bool includeNullables = FormatOptions.IncludeNullables;

    [Parameter] public EventCallback UpdateCallback { get; set; }

    readonly List<DropdownOption<string>> _typeDeclarationOptions = new()
    {
        new DropdownOption<string>("interface", 0),
        new DropdownOption<string>("type", 1),
        new DropdownOption<string>("class", 2)
    };

    readonly List<DropdownOption<string>> _namingConvention = new()
    {
        new DropdownOption<string>("CamelCase", 0),
        new DropdownOption<string>("PascalCase", 1),
        new DropdownOption<string>("SnakeCase", 2)
    };
    
    readonly List<DropdownOption<int>> _tabSize = new()
    {
        new DropdownOption<int>(2, 0),
        new DropdownOption<int>(4, 1),
        new DropdownOption<int>(8, 2)
    };
    
    readonly List<DropdownOption<int>> _identSize = new()
    {
        new DropdownOption<int>(2, 0),
        new DropdownOption<int>(4, 1),
        new DropdownOption<int>(8, 2)
    };

    void OnTypeDeclarationChange(DropdownOption<string> option)
    {
        switch (option.Value)
        {
            case "class":
                FormatOptions.TypeDeclaration = TypeDeclaration.Class;
                break;
            case "interface":
                FormatOptions.TypeDeclaration = TypeDeclaration.Interface;
                break;
            default:
                return;
        }

        Update();
    }

    void OnNamingConventionChange(DropdownOption<string> option)
    {
        switch (option.Value)
        {
            case "PascalCase":
                FormatOptions.NamingConvention = NamingConvention.PascalCase;
                break;
            case "CamelCase":
                FormatOptions.NamingConvention = NamingConvention.CamelCase;
                break;
            case "SnakeCase":
                FormatOptions.NamingConvention = NamingConvention.SnakeCase;
                break;

            default:
                return;
        }

        Update();
    }

    void OnTabSizeChanged(DropdownOption<int> option)
    {
        FormatOptions.TabSize = option.Value;
        StateHasChanged();
        Update();
    }
    
    void OnIdentSizeChanged(DropdownOption<int> option)
    {
        FormatOptions.IdentSize = option.Value;
        StateHasChanged();
        Update();
    }

    void OnGenerateConstructorChanged(bool value)
    {
        FormatOptions.GenerateConstructor = value;
        Update();
    }
    
    void OnAddTypeAnnotationsChanged(bool value)
    {
        FormatOptions.AddTypeAnnotations = value;
        Update();
    }
    
    void OnDatesAsStringsChanged(bool value)
    {
        FormatOptions.DatesAsStrings = value;
        Update();
    }
    
    void OnIncludeCommentsChanged(bool value)
    {
        FormatOptions.IncludeComments = value;
        Update();
    }
    
    void OnIncludeNullablesChanged(bool value)
    {
        FormatOptions.IncludeNullables = value;
        Update();
    }
    
    async void Update()
    {
        try
        {
            await UpdateCallback.InvokeAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}