@using Formatter.Configuration
@using Formatter.Configuration.utils
@using Web.Components.buttons

<section class="flex flex-row lg:flex-col w-full justify-center lg:justify-start md:max-w-[260px] xl:max-w-[300px] 
gap-2 lg:gap-4 relative">
    
    <div class="p-4 w-full flex flex-col gap-4 border border-white/10 rounded-lg bg-[#222222]">
        <h2 class="text-white">Conversion Format</h2>
        
        <Dropdown Options="_typeDeclarationOptions" Title="Typescript Output Component" 
                  OnValueChange="OnTypeDeclarationChange" T="TypeDeclaration"/>
        
        <Dropdown Options="_namingConvention" Title="Naming Convention"
                  OnValueChange="OnNamingConventionChange" T="NamingConvention" />
        
        <div class="flex flex-row flex-wrap xl:flex-nowrap w-full gap-2">
            <Dropdown Options="_tabSize" Title="Tab Size" T="int" OnValueChange="OnTabSizeChanged"/>
            <Dropdown Options="_identSize" Title="Ident Size" T="int" OnValueChange="OnIdentSizeChanged"/>
        </div>
    </div>

    <div class="p-4 w-full flex flex-col gap-4 border border-white/10 rounded-lg bg-[#222222]">
        <h2 class="text-white">Conversion Options</h2>
        
        <div class="flex gap-2 items-center">
            <Checkbox OnValueChange="OnGenerateConstructorChanged" InitialState="_generateConstructor"/>
            <h2 class="text-white/60">Generate Constructor</h2>
        </div>

        <div class="flex gap-2 items-center">
            <Checkbox OnValueChange="OnDatesAsStringsChanged" InitialState="_datesAsStrings"/>
            <h2 class="text-white/60">Date in string format</h2>
        </div>

        <div class="flex gap-2 items-center">
            <Checkbox OnValueChange="OnIncludeCommentsChanged" InitialState="_includeComments"/>
            <h2 class="text-white/60">Include Comments</h2>
        </div>

        <div class="flex gap-2 items-center">
            <Checkbox OnValueChange="OnIncludeNullablesChanged" InitialState="_includeNullables"/>
            <h2 class="text-white/60">Include Nullables</h2>
        </div>
        
        <div class="flex gap-2 items-center">
            <Checkbox OnValueChange="OnIncludeOptionalsChanged" InitialState="_includeOptionals"/>
            <h2 class="text-white/60">Include Optionals</h2>
        </div>
        
    </div>
</section>


@code {
    
    private readonly bool _generateConstructor = FormatConfiguration.GenerateConstructor;
    private readonly bool _datesAsStrings = FormatConfiguration.DatesAsStrings;
    private readonly bool _includeComments = FormatConfiguration.IncludeComments;
    private readonly bool _includeNullables = FormatConfiguration.IncludeNullables;
    private readonly bool _includeOptionals = FormatConfiguration.IncludeOptionals;

    [Parameter] public EventCallback UpdateCallback { get; set; }

    readonly List<DropdownOption<TypeDeclaration>> _typeDeclarationOptions = 
        FormatOptions.TypeDeclarations.Select((val,idx) => new DropdownOption<TypeDeclaration>(val,idx)).ToList();

    readonly List<DropdownOption<NamingConvention>> _namingConvention =
        FormatOptions.NamingConventions.Select((val, idx) => new DropdownOption<NamingConvention>(val, idx)).ToList();

    readonly List<DropdownOption<int>> _tabSize =
        FormatOptions.TabSize.Select((val, idx) => new DropdownOption<int>(val, idx)).ToList();

    readonly List<DropdownOption<int>> _identSize =
        FormatOptions.IdentSize.Select((val, idx) => new DropdownOption<int>(val, idx)).ToList();

    void OnTypeDeclarationChange(DropdownOption<TypeDeclaration> option)
    {
        FormatConfiguration.TypeDeclaration = option.Value;
        Update();
    }

    void OnNamingConventionChange(DropdownOption<NamingConvention> option)
    {
        FormatConfiguration.NamingConvention = option.Value;
        Update();
    }

    void OnTabSizeChanged(DropdownOption<int> option)
    {
        FormatConfiguration.TabSize = option.Value;
        Update();
    }
    
    void OnIdentSizeChanged(DropdownOption<int> option)
    {
        FormatConfiguration.IdentSize = option.Value;
        Update();
    }

    void OnGenerateConstructorChanged(bool value)
    {
        FormatConfiguration.GenerateConstructor = value;
        Update();
    }
    
    void OnDatesAsStringsChanged(bool value)
    {
        FormatConfiguration.DatesAsStrings = value;
        Update();
    }
    
    void OnIncludeCommentsChanged(bool value)
    {
        FormatConfiguration.IncludeComments = value;
        Update();
    }
    
    void OnIncludeNullablesChanged(bool value)
    {
        FormatConfiguration.IncludeNullables = value;
        Update();
    }
    
    void OnIncludeOptionalsChanged(bool value)
    {
        FormatConfiguration.IncludeOptionals = value;
        Update();
    }
    
    async void Update()
    {
        try
        {
            await UpdateCallback.InvokeAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}