@inherits LayoutComponentBase
<link rel="stylesheet" href="css/Default.css"/>
<link rel="stylesheet" href="dist.css"/>

<header>
</header>

<main class="min-h-screen bg-[#1a1a1a]">
    @Body
</main>


<style>
    header{
        background-color: var(--mainBgColor);
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 8px;
    }
    
    main {
        padding-block: 30px;
    }
    
    
</style>