<button class="w-4 h-4 border @(IsActive ? "bg-blue-700" : "") border-white/10 rounded flex items-center justify-center" onclick="@CheckBoxClicked">
    @if (IsActive)
    {
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF " 
             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10"/>
        </svg>
    }
</button>

@code {

    bool IsActive { get; set; }
    [Parameter] public EventCallback<bool> OnValueChange { get; set; }
    [Parameter] public bool? InitialState { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        IsActive = InitialState ?? false;
    }

    private async void CheckBoxClicked()
    {
        try
        {
            IsActive = !IsActive;
            await OnValueChange.InvokeAsync(IsActive);
        }
        catch
        {
            IsActive = !IsActive;
        }
    }
}